.stack {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;

  &__wrapper {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: content-box;
    background-color: #f9f9f9;

    @include lg {
      min-height: 50vh;
      margin: 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    min-width: 40%;
    margin: 0.5rem 0;



    @include lg {
      min-width: unset;
      margin: 0;
    }

    &:hover {
      .stack__item--txt {
        opacity: 1;
      }
    }

    &--img {
      transition-duration: 0.3s;

      width: 6rem;
      height: 6rem;

      @include lg {
        filter: grayscale(100%);
      }

      @include lg {
        width : 7rem;
        height: 7rem;
      }

      @include xl {
        min-width: 10rem;
        min-height: 10rem;
      }

      max-width: 12rem;
      max-height: 12rem;


      &:hover {
        filter: none;
      }
    }

    &--txt {
      text-transform: uppercase;
      letter-spacing: 0.125rem ;
      min-height: 1rem;
      transition-duration: 0.3s;

      @include lg {
        opacity: 0;
      }
    }
  }

  &__title {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #292e32;
    font-weight: 500;
    text-shadow: 1px 1px 1px #c1c1c1;
    margin-top: 1rem;

    @include md {
      font-size: 2rem;
    }

    @include lg {
      font-size: 2.5rem;
    }
  }
}
