@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import
'media',
'header',
'quote',
'lightsail',
'stack',
'alternate',
'flexcards';

html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
  color: #47494e;
  overflow-x: hidden;
  font-size: 16px;

  @media (min-width: 2000px) {
      font-size: 32px;
   }

}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}
