@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import
'media',
'header',
'quote',
'lighthouse',
'stack',
'alternate',
'footer',
'form',
'flexcards';

html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
  color: #47494e;
  overflow-x: hidden;
  font-size: 16px;

  @media (min-width: 2000px) {
      font-size: 32px;
   }

}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

div, span {
  display: block;
}

.slide-leave-active,
.slide-enter-active {
  transition: 1s;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}

.slide-reverse--leave-active,
.slide-reverse-enter-active {
  transition: 1s;
}
.slide-reverse-enter {
  transform: translate(-100%, 0);
}
.slide-reverse-leave-to {
  transform: translate(-100%, 0);
}
